:root {
  --vp-font-family-base: "Iosevka", "Maple Mono", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "LXGW WenKai", "PingFang SC", "Microsoft YaHei",
    monospace !important;
  --vp-font-family-mono: "Iosevka", "Maple Mono", "Cascadia Code", "Menlo",
    "DejaVu Sans Mono", "LXGW WenKai", "PingFang SC", "Microsoft YaHei",
    monospace !important;
  --vp-c-brand-1: hsla(160, 100%, 37%, 1);
  --vp-c-brand-2: hsla(160, 100%, 37%, 0.5);
  --vp-c-brand-3: hsla(160, 100%, 37%, 1);
}
